body{font-family:  sans-serif; font-size: 8px;}
@page { margin-top: 1.3cm; margin-left: 0.3cm; margin-right: 0.3cm; margin-bottom: 1.3cm;}




.table-inf{
width: 100%;  
}

.table{
width: 100%;  
border-collapse: none;
}
.table tr td{
   padding: 1px;
    border: 0px solid black;
}
.td-border-none{
  border: none !important;
}
.table .table-title{
 font-size: 12px;
}


.bold{
  font-weight: bold;
}
.text-right{
text-align: right;  
}
.text-center{
  text-align: center;
}
.text-left{
text-align: left;  
}





