/*AUTOCOMPLETE CSS*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-size: 12px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {

  background-color: #e9e9e9; 
}
.autocomplete-active {

  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


.btn-small{
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 6px !important;
  top: 12px !important;
  width:18px !important;
  height: 18px !important;
  font-size: 5px !important;
}


/*AUTOCOMPLETE CSS*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-size: 12px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {

  background-color: #e9e9e9; 
}
.autocomplete-active {

  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.letra-busqueda{
  background-color:#00aae4; 
  color:white;
}
.img-busqueda{
  width:30px;
  height:30px;
}
