.bootstrap-tagsinput input{
    width:250px !important;
    background: #e2d2e0;
    height: 30px; 
}
.bootstrap-tagsinput input:focus{
    background: #e2d2e0; 
}
.bootstrap-tagsinput .tag{
    background: #e2d2e0 !important;
    color: #464646 !important;
    text-transform: lowercase !important; 
    font-weight: bold;
}

.menu-fixed {
    top:-100px !important;
}
.input-archivo {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 }

 .label-archivo {
 font-size: 13px;
 display: inline-block;
 cursor: pointer;
 text-transform: uppercase;
 text-align: center;
 width: 150px;
 }


.menu{ height:60px; width:100%;text-align:center;z-index: 999999 !important; color:white !important;background:#35A775 !important;padding-top: 8px;}
.wrapper_caja{  width:100%; padding-top:20px}
 
.fixed{position:fixed; top:0}


input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

 

input[type=number] {

    -moz-appearance:textfield;

}

.flotante {
    display:scroll;
        position:fixed;
        bottom:320px;
        right:0px;
        z-index: 99999999;
}
.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.fondo-boton{
  background: #2B3054 !important;
  color:#F9A60C !important;
}
.fondo-boton:hover{
  background:#F5870A !important;
  color:#2B3054 !important;
}
.fondo-boton-active{
  background:#F9A60C !important;
  color:#2B3054 !important;
}
.modal-arriba {
   top: -80px !important;
}
.modal-gris{
   background: rgba(18, 15, 6, 0.8) !important;
}

.after-loop{
  padding:3rem 0 5rem
  }
.after-loop a.after-loop-item{
  color:#fff;
  position:relative;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  transition:.15s box-shadow ease,.15s transform ease;
  -moz-transition:.15s box-shadow ease,.15s transform ease
  }
.after-loop a.after-loop-item .card-body i{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:4rem;
  left:1rem;
  color:rgba(255,255,255,.2);
  transition:.15s all ease
  }
.after-loop a.after-loop-item .card-body h4{
  font-weight:700
  }
.after-loop a.after-loop-item .card-body p{
  color:rgba(255,255,255,.7);
  font-weight:600
  }
.after-loop a.after-loop-item:hover{
  text-decoration:none
  }
.after-loop .card-themes{
  background-color:#dd3d31
  }
  .after-loop .card-snippets{
  background-color:#ffc107
  }
.after-loop .card-templates{
  background-color:#007bff
  }
.after-loop .card-guides{
  background-color:#28a745
  }

/* Colores del menu lateral*/

/* ROJO */
.sidebar[data-background-color=rojo]{
  background-color:#dd3d31
  }
.sidebar[data-background-color=rojo] .nav .nav-item .nav-link{
    color:#fff
  }
.sidebar[data-background-color=rojo] .nav .nav-item i{
    color:hsla(0,0%,100%,.8)
    }
.sidebar[data-background-color=rojo] .nav .nav-item.active [data-toggle=collapse],.sidebar[data-background-color=rojo] .nav .nav-item:hover [data-toggle=collapse]{
  color:#fff
  }
.sidebar[data-background-color=rojo] .nav .nav-item.active [data-toggle=collapse] i,.sidebar[data-background-color=rojo] .nav .nav-item:hover [data-toggle=collapse] i{
  color:hsla(0,0%,100%,.8)
  }
.sidebar[data-background-color=rojo] .simple-text,.sidebar[data-background-color=rojo] .user a{
  color:#fff
  }
.sidebar[data-background-color=rojo] .sidebar-background:after{
  background:#dd3d31;opacity:.8
  }
.sidebar[data-background-color=rojo] .logo:after,.sidebar[data-background-color=rojo] .nav li.separator:after,.sidebar[data-background-color=rojo] .user:after{
  background-color:hsla(0,0%,100%,.3)
  }
.sidebar[data-background-color=rojo] .nav li.active>[data-toggle=collapse],.sidebar[data-background-color=rojo] .nav li:hover:not(.active)>a{
  background-color:hsla(0,0%,100%,.1)
  }

  /* AMARILLO */
.sidebar[data-background-color=amarillo]{
  background-color:#B89618
  }
.sidebar[data-background-color=amarillo] .nav .nav-item .nav-link{
    color:#fff
  }
.sidebar[data-background-color=amarillo] .nav .nav-item i{
    color:hsla(0,0%,100%,.8)
    }
.sidebar[data-background-color=amarillo] .nav .nav-item.active [data-toggle=collapse],.sidebar[data-background-color=amarillo] .nav .nav-item:hover [data-toggle=collapse]{
  color:#fff
  }
.sidebar[data-background-color=amarillo] .nav .nav-item.active [data-toggle=collapse] i,.sidebar[data-background-color=amarillo] .nav .nav-item:hover [data-toggle=collapse] i{
  color:hsla(0,0%,100%,.8)
  }
.sidebar[data-background-color=amarillo] .simple-text,.sidebar[data-background-color=amarillo] .user a{
  color:#fff
  }
.sidebar[data-background-color=amarillo] .sidebar-background:after{
  background:#B89618;opacity:.8
  }
.sidebar[data-background-color=amarillo] .logo:after,.sidebar[data-background-color=amarillo] .nav li.separator:after,.sidebar[data-background-color=amarillo] .user:after{
  background-color:hsla(0,0%,100%,.3)
  }
.sidebar[data-background-color=amarillo] .nav li.active>[data-toggle=collapse],.sidebar[data-background-color=amarillo] .nav li:hover:not(.active)>a{
  background-color:hsla(0,0%,100%,.1)
  }

  /* CELESTE */
.sidebar[data-background-color=celeste]{
  background-color:#007bff
  }
.sidebar[data-background-color=celeste] .nav .nav-item .nav-link{
    color:#fff
  }
.sidebar[data-background-color=celeste] .nav .nav-item i{
    color:hsla(0,0%,100%,.8)
    }
.sidebar[data-background-color=celeste] .nav .nav-item.active [data-toggle=collapse],.sidebar[data-background-color=celeste] .nav .nav-item:hover [data-toggle=collapse]{
  color:#fff
  }
.sidebar[data-background-color=celeste] .nav .nav-item.active [data-toggle=collapse] i,.sidebar[data-background-color=celeste] .nav .nav-item:hover [data-toggle=collapse] i{
  color:hsla(0,0%,100%,.8)
  }
.sidebar[data-background-color=celeste] .simple-text,.sidebar[data-background-color=celeste] .user a{
  color:#fff
  }
.sidebar[data-background-color=celeste] .sidebar-background:after{
  background:#007bff;opacity:.8
  }
.sidebar[data-background-color=celeste] .logo:after,.sidebar[data-background-color=celeste] .nav li.separator:after,.sidebar[data-background-color=celeste] .user:after{
  background-color:hsla(0,0%,100%,.3)
  }
.sidebar[data-background-color=celeste] .nav li.active>[data-toggle=collapse],.sidebar[data-background-color=celeste] .nav li:hover:not(.active)>a{
  background-color:hsla(0,0%,100%,.1)
  }

   /* VERDE */
.sidebar[data-background-color=verde]{
  background-color:#28a745
  }
.sidebar[data-background-color=verde] .nav .nav-item .nav-link{
    color:#fff
  }
.sidebar[data-background-color=verde] .nav .nav-item i{
    color:hsla(0,0%,100%,.8)
    }
.sidebar[data-background-color=verde] .nav .nav-item.active [data-toggle=collapse],.sidebar[data-background-color=verde] .nav .nav-item:hover [data-toggle=collapse]{
  color:#fff
  }
.sidebar[data-background-color=verde] .nav .nav-item.active [data-toggle=collapse] i,.sidebar[data-background-color=verde] .nav .nav-item:hover [data-toggle=collapse] i{
  color:hsla(0,0%,100%,.8)
  }
.sidebar[data-background-color=verde] .simple-text,.sidebar[data-background-color=verde] .user a{
  color:#fff
  }
.sidebar[data-background-color=verde] .sidebar-background:after{
  background:#28a745;opacity:.8
  }
.sidebar[data-background-color=verde] .logo:after,.sidebar[data-background-color=verde] .nav li.separator:after,.sidebar[data-background-color=verde] .user:after{
  background-color:hsla(0,0%,100%,.3)
  }
.sidebar[data-background-color=verde] .nav li.active>[data-toggle=collapse],.sidebar[data-background-color=verde] .nav li:hover:not(.active)>a{
  background-color:hsla(0,0%,100%,.1)
  }

@media(min-width:992px){
  .after-loop a.after-loop-item:hover{
    transform:translateY(-0.25rem);
    box-shadow:0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important
    }
  .after-loop a.after-loop-item:hover .card-body i{
    left:1.5rem;font-size:3rem
    }
  .after-loop a.after-loop-item:active{
    transform:none;
    box-shadow:0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important
    }
 }


.cargar{
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/loading.gif') 50% 50% no-repeat rgba(6, 2, 7,0.8);
  opacity: .95;
}
.cargar-ajax{
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/load2.gif') 50% 50% no-repeat rgba(0, 0, 0,1); 
  opacity: .95;
}

.cargar-ajax div h4{
  color: #EE2C2C !important;
}
.cargar-ajax div h4::before{
  color: #2CEEBC !important;
  font-weight: negrita;
  content: "IBNORCA: ";
}
.cargar-reporte{
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/loading.gif') 50% 50% no-repeat rgba(6, 2, 7,0.8);
  opacity: .95;
}

.div-loading{
  padding-top: 400px;
}
.elem-frente{
  z-index:9999;
}

.count{
    position: absolute;
    background: red;
    height:16;
    top:-2px;
    right:0rem;
    width:16px;
    text-align: center;
    line-height: 16px;
    font-size: 9px;
    border-radius: 50%;
    color:black;
    z-index: 999999999;
}

.estado{
    position: absolute;
    height:8px;
    top:2px;
    right:0.2rem;
    width:8px;
    border-radius: 50%;   
}
.estado2{
    position: absolute;
    height:11px;
    top:8px;
    right:0.6rem;
    width:11px;
    border-radius: 50%;
    border:1px solid white !important;   
}
.text-small{
  font-size: 10 !important;
}
.table-fixed tbody {
    display:block;
    height:500px;
    overflow:auto;
}
.table-fixed thead, .table-fixed tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.table-fixed thead {
    width: calc( 100% - 1em )
}


.dt-buttons{
position: absolute !important;
right :50px !important;
top:-80px !important;
z-index: 20;
}

.buttons-copy{
  border: 1px solid #AAB7B8 !important;
  color:#AAB7B8 !important;
  width: 40px !important;
  padding: 5px !important;
}
.buttons-csv{
  border: 1px solid #2980B9 !important;
  color:#2980B9 !important;
  width: 40px !important;
  padding: 5px !important;
}
.buttons-excel{
  border: 1px solid #28B463 !important;
  color:#28B463 !important;
  width: 40px !important;
  padding: 5px !important;
}
.buttons-print{
  border: 1px solid #09bcb7 !important;
  color:#09bcb7 !important;
  width: 40px !important;
  padding: 5px !important;
}
.buttons-pdf{
  border: 1px solid #F93A11 !important;
  color:#F93A11 !important;
  width: 40px !important;
  padding: 5px !important;
}

.buttons-copy:hover{
  background: #AAB7B8 !important;
  color:white !important;
}
.buttons-csv:hover{
  background: #2980B9 !important;
  color:white !important;
}
.buttons-excel:hover{
  background: #28B463 !important;
  color:white !important;
}
.buttons-print:hover{
  background: #09bcb7 !important;
  color:white !important;
}
.buttons-pdf:hover{
  background: #F93A11 !important;
  color:white !important;
}
.bg-plomo{
 background: #D7DBDD; 
}
.bg-blanco2{
 background: #F5FAC0; 
}
.bg-principal{
  background:#8E4583;
}

.bg-blanco{
   background:white !important;
}

.fondo-imagen { 
background: url("../img/bg9.jpg") no-repeat center center fixed !important;
-webkit-background-size: cover !important;
-moz-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;
position: fixed;
top:-20px;
/*padding-top: 100px;*/
width:100%;
height: 120%; 
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
/*filter:blur(6px);*/
}
.fondo-imagen2 { 
background: url("../img/header-doc.jpg") no-repeat center center fixed !important;
-webkit-background-size: cover !important;
-moz-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;
position: fixed;
top:-20px;
/*padding-top: 100px;*/
width:100%;
height: 120%;  
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}

.fila-button{
  background: white;
  color:#1E7972;
}

.fila-button:hover,.fila-button-active{
  background: #1E7972;
  color: white;
}

.bg-table-primary{
  background: #0D5F7C;
}
.bg-table-primary2{
  background: #FF7000;
}
.icon-sm{
  font-size: 16px !important;
}
.bg-table-total{
  background: #0A5851;
  color:white;
}
.div-center{
        margin: 0 auto !important; /* Added */
        float: none !important; /* Added */
        margin-bottom: 10px !important; /* Added */
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

